{% extends 'home.html' %}
{% load static %}
{% block body %}

<h2 style="font-family:roman;color:green;margin-top:5%" align="center" class="card">Change Password</h2>


      <div class="container" style="margin-left:37%;margin-top:7%">
        <div class="row">
			<div class="col-md-4">
			<!-- Change Password Form -->
											<form action="" method="post">
                                                {% csrf_token %}
												<div class="form-group">
													<label>Old Password</label>
													<input type="password" name="pwd1" class="form-control">
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" name="pwd2" class="form-control">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" name="pwd3" class="form-control">
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn" style="background-color:darkblue">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->

										</div>
									</div>
			</div>
 	<!-- /Page Content -->
{% for i in messages %}
<script>
  alert("{{i}}")
   window.location='{% url 'logout' %}'
</script>
{% endfor %}

{% endblock %}
