{% extends 'home.html' %}
{% block body %}
{% load static %}

<div class="container">
    <h2 style="font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%" align="center">Search Booking Between Dates</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:2%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">From Date</label>
    <input type="date" class="form-control" name="from_date">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">To Date</label>
    <input type="date" class="form-control" name="to_date">

  </div>
  <button type="submit" class="btn btn-primary">Search</button>

</form>
</div>
</div><hr>
<div class="container" style="">
</div>
<center><h4 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold"> All Booking Between <span style="color:black">{{d1}}</span> To <span style="color:black">{{d2}}</span> </h4></center><hr>
 <div class="container" style="width:90%">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Booking ID</th>
    <th>Username</th>
      <th>Contact</th>
    <th>Flight Name</th>
    <th>Booking Date</th>
      <th>Total</th>

    <th>View Detail</th>
    <th>Cancel Booking</th>
  </tr>
  </thead>
   <tbody>

{% for i in data %}

  <tr>
      <td>{{forloop.counter}}</td>
    <td>{{i.booking_id}}</td>
    <td>{{i.user.username}}</td>
      <td>{{i.mobile}}</td>
    <td>{{i.airline.flight_name}}</td>
    <td>{{i.date}}</td>
      <td>{{i.total_price}}</td>

      <td><a href="{% url 'booking_detail' i.booking_id %}"><button class="button button1">detail</button></a></td>
      <td><a href="{% url 'delete_booking' i.booking_id %}" onclick="return confirm('Are you sure?')"><button class="button button1" id="#delete">cancel</button></a></td>

  </tr>
{% empty %}
<tr>
    <td colspan="9">Data Not Found</td>
    </td>
</tr>
   {% endfor %}

    </tbody>
</table>

 </div>





</div>
{% endblock %}
